
.carding {

  perspective: 250em;
  -moz-perspective: 250em;
  position: relative;
  height: 15.5rem;
  margin-bottom: 30px;


  &__side {

    height: 15.5em;
    //transition: all 2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    //box-shadow: 6px 6px 12px rgba(0, 0, 0.1);


    &--front {
      background-color: #FFFAFA;

    }

    &--back {
      //transform: translate(20);
      //transform: rotateY(180deg);
      //background: linear-gradient(to right bottom,
      //        rgba(255, 165, 0.01),
      //        rgba(244, 143, 68.8)
      //);
      //background-color: rgba(0,0,0,.1);

    }
  }


  &:hover &__side--front {

    size: 51px;
    //transform: rotateY();

  }

  &:hover &__side--back {
    //transform: rotateY(0);
  }

  //front side
  &__picture {


    width: 100%;
    max-height: 90%;
    //-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    //clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);


  }

  &__heading {
    font-size: 25px;
    font-weight: 300;
    //text-transform: uppercase;
    text-align: right;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 20rem;
    right: 8rem;
  }

  &__rates {
    position: absolute;
    color: var(--orangetheme);

    top: 19rem;
    right: 1rem;
  }

  &__button {

    position: absolute;
    top: 83%;
    left: 5%;


    &--buyNow {
      background-color: red !important;

    }


  }

  &__inventory {
    position: absolute;
    top: 17rem;
    left: 1rem;
    font-size: 20px;

    &--quantity {
      color: red;

      border: 2px rgba(244, 143, 68, .1) solid;
      border-radius: 50%;
      padding: 2px;
    }

  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__discount {
    position: absolute;
    top: 12rem;
    right: 0rem;

    &--percentage {
      padding: 3px;
      border: 1px solid rgba(244, 143, 68);
      border-radius: 50%;
      color: var(--orangetheme);
    }

    &--noDiscount {
      text-decoration: line-through red;
    }
  }

  &__details {
    &--spanamount {
      color: rgba(0, 0, 0);
      font-size: 20px;
      font-weight: 200;
    }

    &--spanunit {
      color: blue;
      font-size: 10px;

      top: 9px;
      position: absolute;
      right: 41px;
    }

    &--amount {
      top: 14rem;
      position: absolute;
      right: 1rem;
    }
  }

  &__shortDescription {
    color: white;
    padding: 11px;
    font-size: 17px;
    font-weight: 200;
  }

  &__headingBack {
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: white;
  }

  &__wishlist {

    position: absolute;
    top: 0rem;
    right: 2rem;


  }

}


//bellow couresell cards

.cardings {

  perspective: 250em;
  -moz-perspective: 250em;
  position: relative;
  height: 9.5rem;
  margin-bottom: 30px;


  &__side {

    height: 9.5em;
    //transition: all 2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    //box-shadow: 6px 6px 12px rgba(0, 0, 0.1);


    &--front {
      background-color: #FFFAFA;

    }

    &--back {
      //transform: translate(20);
      //transform: rotateY(180deg);
      //background: linear-gradient(to right bottom,
      //        rgba(255, 165, 0.01),
      //        rgba(244, 143, 68.8)
      //);
      //background-color: rgba(0,0,0,.1);

    }
  }


  &:hover &__side--front {

    size: 51px;
    //transform: rotateY();

  }

  &:hover &__side--back {
    //transform: rotateY(0);
  }

  //front side
  &__picture {


    width: 100%;
    max-height: 90%;
    //-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    //clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);


  }

  &__heading {
    font-size: 25px;
    font-weight: 300;
    //text-transform: uppercase;
    text-align: right;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 20rem;
    right: 8rem;
  }

  &__rates {
    position: absolute;
    color: var(--orangetheme);

    top: 19rem;
    right: 1rem;
  }

  &__button {

    position: absolute;
    top: 83%;
    left: 5%;


    &--buyNow {
      background-color: red !important;

    }


  }

  &__inventory {
    position: absolute;
    top: 17rem;
    left: 1rem;
    font-size: 20px;

    &--quantity {
      color: red;

      border: 2px rgba(244, 143, 68, .1) solid;
      border-radius: 50%;
      padding: 2px;
    }

  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__newproduct {


    &--new {
      color: rgba(255, 0, 0, 0.8);
      //border: 0.5px solid red;
      //border-radius: 30px;
      margin-right: 52px;
      padding-left: 11px;
    }


  }

  &__discount {
    position: absolute;
    top: 12rem;
    right: 0rem;

    &--percentage {
      padding: 3px;
      border: 1px solid rgba(244, 143, 68);
      border-radius: 50%;
      color: var(--orangetheme);
    }

    &--noDiscount {
      text-decoration: line-through red;
    }
  }

  &__details {
    &--spanamount {
      color: rgba(0, 0, 0);
      font-size: 20px;
      font-weight: 200;
    }

    &--spanunit {
      color: blue;
      font-size: 10px;

      top: 9px;
      position: absolute;
      right: 41px;
    }

    &--amount {
      top: 14rem;
      position: absolute;
      right: 1rem;
    }
  }

  &__shortDescription {
    color: white;
    padding: 11px;
    font-size: 17px;
    font-weight: 200;
  }

  &__headingBack {
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: white;
  }

  &__wishlist {

    position: absolute;
    top: 0rem;
    right: 2rem;


  }

}