.nav-align{
  float: left;
}
body{
  padding: 5px;


}

#app{
  padding: 0px;
}

/////////////////////////////////////////////////////////////////////
//        Carousel
////////////////////////////////////////////////////////////////////

.carousel_size img{
  padding: 50px;
}




/////////////////////////////////////////////////////////////////////
//        LOGO
////////////////////////////////////////////////////////////////////

.nav_logo{
  padding-left: 70px;

}



