/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdowns {
    position: relative;
    /*display: inline-block;*/
    margin-bottom: 2px !important;

}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    height: auto;
    background-color: #f1f1f1;
    min-width: 310px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 33px;
    overflow: hidden !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color:  rgb(244,143,68)!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdowns:hover .dropdown-content {
    display: block;
    cursor: pointer !important;
}

.category_hover{
    background-color:rgb(244,143,68);
    height: 14px;
    text-transform: uppercase;
}


.category_hover h6{
    margin-left: 35px;
    color: var(--blackbackgroundtheme);
}


.category_hover h6:hover{
    margin-left: 35px;
    /*font-size: 50px;*/
    color: var(--whitetexttheme);
}

.dropdown_content_login{

    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 197px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 40px !important;
    right: -31px;
    margin-left: 30px !important;

}


.dropdown_content_login .category_hover{

    background-color:rgb(244,143,68);
    height: 14px;

}

/* Links inside the dropdown */
.dropdown_content_login a {
    color:  rgb(244,143,68);
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
    text-transform: uppercase;

}



/* Show the dropdown menu on hover */
.dropdowns:hover .dropdown_content_login {display: block;}

.user_logout:hover{
    margin-left: 30px !important;
    text-decoration: none !important;
    color: rgb(244,143,68) !important;
}
.categories{
    margin: 10px 0 0 1%;

}

.category_heading{
    margin-left: 33px;
    text-decoration: underline;
    color: rgb(244,143,68) !important;

}