header{
    background-color: var(--orangetheme);
    width: 100%;
    /*position: absolute;*/
    top: 0;
    position: relative;
}



header ul{
    display: flex;
    margin: 0;
    padding: 0 90px 0 0;
    list-style-type: none;


}

header ul li{
   padding: 0 30px 0 0;


}

.fa-heart{
    color: black !important;
}
.fa-user{
    color: black !important;
    margin-left: -87px !important;
    margin-top: 10px !important;
}
.fa-cart-plus{
    color: black !important;
}
.fa-hand-point-down{
    color: var(--orangetheme) !important;
}


header .nav{
    margin-top: 0;
}

.category_bar{
    /* padding-left: 10px; */
    cursor: pointer !important;
    position: relative;
}

.arrow_up{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F0F8FF;
    left: 55px;
    top: 45px;
    z-index: 1;
    /*display: none;*/
}
.header_icons{
    color: var(--blackbackgroundtheme);
    margin-right: 50px!important;
    position: relative;

}
.wishlist_sup{
    position: absolute;
    top: 0px;
    right: -15px;
    color: white;
    font-size: 20px;
}

.wishlist_sup_heart{
    position: absolute;
    top: 0px;
    right: 140px;
    color: white;
    font-size: 20px;
}


.side-nav_dropdown{
    position: absolute;
    height: auto;
    width: 300px;
    background-color:#F0F8FF;
    top: 46px;
    left: -1px;
    z-index: 20;
    display: none;
    overflow: hidden;
    transition-delay: 5s;

}
.side-nav_dropdown a{
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    color: var(--blackbackgroundtheme);
    text-decoration: none!important;
}

.disabled_dopdown{
    text-align: center;
    padding-top: 10px;
    background-color: var(--orangetheme);
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    text-decoration: none!important;
}

.disabled_dopdown:hover{
    background-color: var(--orangetheme);
}

.navbar-nav{
    cursor: pointer;

    position: relative;

    transition: ease-in 2s;
}

/*.navbar-nav:hover{*/
/*    background-color: red;*/
/*}*/

.navbar-nav:hover>.side-nav_dropdown{
    display: block;

    transition-delay: 5s;
}

.navbar-nav:hover>.arrow_up{
    display: block !important;
}


/*login*/
.side-nav_dropdowns{
    position: absolute;
    height: 150px;
    width:150px;
    background-color:#F0F8FF;
    top: 35px;

    z-index: 20;
    /*display: none;*/
    overflow: hidden;
    transition-delay: 5s;

}



.navbar-navs{
    cursor: pointer;

    position: relative;

    transition: ease-in 2s;
}

/*.navbar-nav:hover{*/
/*    background-color: red;*/
/*}*/

.navbar-navs:hover>.side-nav_dropdown{
    display: block;

    transition-delay: 5s;
}

.navbar-navs:hover>.arrow_up{
    display: block !important;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*.dropdown-content a:hover {background-color: #ddd;}*/

/*.dropdown:hover >.dropdown-content a {display: block;}*/

 /*.dropbtn:hover {background-color: #3e8e41;}*/

.categories{
    z-index: 2;
    background-color: rgba(0,0,0,.1) !important;
}

.profiles{
    color: var(--orangetheme);
    text-decoration: underline;
    font-size: 2rem;
}

.profile label{
    color: var(--darkorangetheme) !important;
}

.prof_button{
    border-radius: 20px !important;
    color: var(--orangetheme) !important;
}

.alert{
    padding: 2px 40px !important;
    margin: 8px 0 0 20px !important;
}
.couresel_style{
    color: var(--orangetheme) !important;
    font-size: 50px;

}

@media screen and (max-width: 768px){
    .categories{
        /*background-color: red !important;*/
        display: none !important;
    }

}

.product_discount{
    color: var(--feauredproductpillcolor);
    border: 1px solid var(--feauredproductpillcolor);
    border-radius: 15px;
    padding: 3px;
    box-shadow: 10px 10px var(--dark);
}


.img_add_cart{
    border-radius: 25px !important;
    box-shadow: 10px 10px grey !important;
}
.cart_name_product{
    text-transform: uppercase;
    color: var(--orangetheme);
}

.cart_options_row{
    padding-right: 44px !important;
}
.small_strong{
    color: var(--feauredproductpillcolor) !important;
}




