@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

:root{
    --bluishwhitetheme:#F3F7FC;
    --orangetheme:#FD9046;
    --darkorangetheme: #994d33;
    --blacktexttheme:black;
    --greytheme: #898989;
    --whitetexttheme: #ffffff;
    --whiteicontheme:#F3F7FC;
    --secnaviconsize:32px;
    --secnaviconfontsize:15px;
    --secnavusernamefontsize:24px;
    --box-shadow: 6px 6px 12px #858585;
    --box-shadowA: 8px 8px 15px #727272;
    --superfont: 'Oswald',sans-serif;
    --categoryfontweight7:700;
    --categoryfontweight6:600;
    --textfontsize:15px;
    --textfontsize1:18px;
    --feauredproductpillcolor:red;
    --producttitlefont:'Oswald',sans-serif;
    --productborderradius:10px;
    --cardtextfontfamily: 'Montserrat', sans-serif;
    --footerfontfamily: 'Oswald',sans-serif;
    --blackbackgroundtheme:black;
}




body{
    background-color: var(--whitetexttheme) !important;
}

/*Header start*/

.navbar_modify{
    background-color:var(--whiteicontheme);
}

.navbar_modify ul li{
    padding-right: 90px;

}

.navbar_modify ul li a {
    color: var(--blackbackgroundtheme) !important;
    font-size: var(--textfontsize) !important;
}


nav ul li a{

    margin:10px;

    float: right !important;
}    /*Header End*/

/*SideNav start*/

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
   background-color: var(--orangetheme)!important;
    top: 0;
    left: 1px;

    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 82px;
}

.sidenav li{
    padding: 6px 8px 6px 1px;
    text-decoration: none;
    font-size:var(--textfontsize);
    display: block;
    color: var(--blackbackgroundtheme);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 35px;

}

.sidenav li a{
    padding-left: 50px;
    color: var(--whitetexttheme);
    margin-bottom: 10px;
}
.sidenav h3{
    text-align: center;
    font-weight: bold;
}

HR {

    border: 1px solid rgba(0,0,0,1) !important;
}


.accordion {


    cursor: pointer;


    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
}

.active, .accordion:hover {

}

.panel {
    padding: 0 18px;
    display: none;
    text-align:right;
    background-color: var(--orangetheme);
    overflow: hidden;
}/*SideNav end*/


